<div class="add-button" [routerLink]="['add']">
	<button mat-raised-button color="primary">Add User</button>
</div>
<div>
	</div>
<div class="example-container no-records" *ngIf="!dataSource.length">
	No Records found
</div>
 
 <div class="example-container mat-elevation-z8 table-class" *ngIf="dataSource && dataSource.length">
  <mat-table #table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.position+1}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <!-- Contact Column -->
    <ng-container matColumnDef="contact">
      <mat-header-cell *matHeaderCellDef> Contact </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.contact}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
      <mat-cell *matCellDef="let element"><a mat-mini-fab color="primary" matTooltip="Edit User" [routerLink]="[element._id]"><i class="fa fa-pencil" aria-hidden="true"></i></a></mat-cell>
    </ng-container>
    <ng-container matColumnDef="delete">
    	<mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
    	<mat-cell *matCellDef="let element"><a mat-mini-fab color="primary" matTooltip="Delete User" (click)="deleteUser(element._id,element.position)"><i class="fa fa-trash" aria-hidden="true"></i></a></mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>