.add-button{
	float: right;
    padding-right: 5%;
    padding-top: 1%;
}
.table-class{
	    margin-left: 4%;
    	margin-right: 4%;
    	margin-top: 5%;
}
.no-records{
	text-align: center;
    color: red;
    padding-top: 7%;
}