/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~font-awesome/css/font-awesome.css';
body{
	    margin: 0px;
}
.cursor-pointer{
	cursor: pointer;
}