.custom-card{
	margin-left: 17%;
    margin-right: 17%;
    margin-top: 5%;
}
.example-full-width {
  width: 100%;
}

.error-color{
	color:red;
	font-size: 12px;
}
.submit-button{
	    padding-top: 18px;
}