<mat-card class="custom-card">
	<mat-card-header>
		<mat-card-title>Add User</mat-card-title>
	</mat-card-header>
	<form class="example-form" name="userForm" #userForm="ngForm" (submit)="!user._id ? saveUser() : editUser()">
		<div>
			 <mat-form-field class="example-full-width">
    			<input matInput placeholder="Name" charactersOnly [spaceAllowed]="true" required name="userName" [(ngModel)]="user.name" #userName="ngModel"  minlength="3" maxlength="30" autocomplete="off">
  			</mat-form-field>
  			<div *ngIf="userName.errors && (userName.dirty||userName.touched)">
                     <div class="error-color" *ngIf="userName.errors.minlength">userName must be at least 3 characters long.</div>
                    <div class="error-color" *ngIf="userName.errors.maxlength">userName cannot be more than 30 characters long.</div>
            </div>
		</div>
		<div>
			 <mat-form-field class="example-full-width">
    			<input matInput placeholder="Email" required name="userEmail" #userEmail="ngModel" [(ngModel)]="user.email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" autocomplete="off">
  			</mat-form-field>
  			<div *ngIf="userEmail.errors && (userEmail.dirty||userEmail.touched)">
                     <div class="error-color" *ngIf="userEmail.errors.pattern">Email format should be 
                    <small><b>joe@abc.com</b></small></div>
            </div>
		</div>
		<div>
			 <mat-form-field class="example-full-width">
    			<input required name="contactNo" [(ngModel)]="user.contact" #contactNo="ngModel" matInput placeholder="Contact" numbersOnly  minlength="10" maxlength="10">
  			</mat-form-field>
		</div>
    <div>
      <label>Skills</label>
        <tag-input [(ngModel)]="user.skills" name="skills" placeholder="skills" ></tag-input>
      
      
    </div>
 		<div>
 			<mat-form-field class="example-full-width">
    			<textarea matInput placeholder="Address" name="userAddress" [(ngModel)]="user.address" #userAddress="ngModel" required  minlength="10"></textarea>
  			</mat-form-field>
  			<div *ngIf="userAddress.errors && (userAddress.dirty||userAddress.touched)">
                     <div class="error-color" *ngIf="userAddress.errors.minlength">Address must be at least 10 characters long.</div>
            </div>
 		</div>
 		<div>
 			<input type="file" (change)="uploadFile($event)">
      <span *ngIf="user && user.imagePath"></span>
      <img src="{{user.imagePath}}" height="150px" width="150px">
 		</div>
 		<div class="submit-button">
 			<button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Submit</button>
 		</div>

  
</form>
</mat-card>